
body {
    font-family: 'Press Start 2P';
}

*{
    background-color: black;
    /*overflow:hidden;*/
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: white;
    /*font-family: Arial, sans-serif;*/
}

/* Navbar Styling */
.logo-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 98%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.logo {
    height: 50px;
}

.lobDown:hover
{
    background-color:pink;
}

.navigation ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navigation li {
    display: inline;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navigation a:hover {
    text-decoration: underline;
}

/*.dropbtn {*/
/*    background-color: black;*/
/*    color: white;*/
/*    padding: 16px;*/
/*    font-size: 16px;*/
/*    border: none;*/
/*    cursor:pointer;*/
/*}*/

.dropdown,.drop1,.drop2,.drop3,.drop4,.drop5,.drop6,.drop7,
.lobDown, .lob1,.lob2,.lob3,.lob4,.lob5,.lob6,.lob7{
    position: fixed;
    top:15%;
    display: inline-block;
    background-color: black;
}

.dropdown:hover {
    background-color: pink;
}

.dropdown:hover img,
.drop1:hover img,
.drop2:hover img,
.drop3:hover img,
.drop4:hover img,
.drop5:hover img,
.drop6:hover img,
.drop7:hover img,
.lobDown:hover img,
.lob1:hover img,
.lob2:hover img,
.lob3:hover img,
.lob4:hover img,
.lob5:hover img,
.lob6:hover img,
.lob7:hover img {
    filter: saturate(500%);
}


.lob1
{
    top:25%;
}


/*.lobDown, .lob1,.lob2,.lob3,.lob4,.lob5,.lob6,.lob7*/
/*{*/
/*    left:1%;*/
/*}*/

/*.dro1,.dro2,.dro3,.dro4,.dro5,.dro6,.dro7,.dro8 {*/
/*    position: fixed;*/
/*    top:15%;*/
/*    left:1%;*/
/*    display: inline-block;*/
/*}*/

.dro2
{
    top:25%;
}

.dro3,.lob2
{
    top:35%;
}

.dro4,.lob3
{
    top:45%;
}

.dro5,.lob4
{
    top:55%;
}

.dro6,.lob5
{
    top:65%;
}

.dro7,.lob6
{
    top:75%;
}

.dro8,.lob7
{
    top:85%;
}

.drop2
{
    top:25%;
}

.drop3
{
    top:35%;
}

.drop1
{
    top:45%;
}

.drop4
{
    top:55%;
}

.drop5
{
    top:65%;
}

.drop6
{
    top:75%;
}

.drop7
{
    top:85%;
}


.rockets,.lakers,.warriors,.cavs,.celts,.knicks,.bucks,.okc
{
    height:70px;
    width:70px;
    position:fixed;
    right:7%;
}

.blues,.avs,.mini,.kings,.rangers,.devils,.sens,.lightning,.kings
{
    height:70px;
    width:70px;
    position:fixed;
    left:7%;
}


.suns,.clippers,.timberwolves,.bulls,.hawks,.pistons,.pacers
{
    height:70px;
    width:70px;
    position:fixed;
    right:1%;
}

.jets,.stars,.vegas,.oilers,.caps,.canes,.panthers,.leafs
{
    height:70px;
    width:70px;
    position:fixed;
    left:1%;
}

.cavs, .bulls {
    background-color: black;
}


.nhlLogo
{
    position:absolute;
    bottom:32%;
    left:37.5%;
    height:200px;
    width:200px;
    border:5px red;
}

.nbaLogo
{
    position:absolute;
    bottom:32%;
    right:35%;
    height:200px;
    width:200px;
    border:5px red;
}




/*.dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: #f1f1f1;*/
/*    min-width: 160px;*/
/*    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
/*    z-index: 1;*/
/*}*/

/*.dropdown-content a {*/
/*    color: black;*/
/*    padding: 12px 16px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*}*/


#w1v8{
    height:200px;
    width:200px;
    background-color:purple;
    display:none;
}

.bracky
{
    position:fixed;
    top:20%;
    left:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.bracky1
{
    position:fixed;
    top:30%;
    left:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.bracky2
{
    position:fixed;
    top:40%;
    left:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.bracky3
{
    position:fixed;
    top:50%;
    left:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.bracky4
{
    position:fixed;
    top:60%;
    left:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.bracky5
{
    position:fixed;
    top:70%;
    left:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.bracky6
{
    position:fixed;
    top:80%;
    left:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.bracky7
{
    position:fixed;
    top:90%;
    left:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.racky
{
    position:fixed;
    top:20%;
    right:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.racky1
{
    position:fixed;
    top:30%;
    right:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.racky2
{
    position:fixed;
    top:40%;
    right:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.racky3
{
    position:fixed;
    top:50%;
    right:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.racky4
{
    position:fixed;
    top:60%;
    right:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.racky5
{
    position:fixed;
    top:70%;
    right:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.racky6
{
    position:fixed;
    top:80%;
    right:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.racky7
{
    position:fixed;
    top:90%;
    right:12%;
    width:100px;
    height:5px;
    background-color: red;
}

.lack
{
    position:fixed;
    top:75%;
    right:19%;
    width:5px;
    height:150px;
    background-color: white;
}

.lack1
{
    position:fixed;
    top:55%;
    right:19%;
    width:5px;
    height:150px;
    background-color: white;
}

.lack2
{
    position:fixed;
    top:35%;
    right:19%;
    width:5px;
    height:150px;
    background-color: white;
}

.lack3
{
    position:fixed;
    top:15%;
    right:19%;
    width:5px;
    height:150px;
    background-color: white;
}

.yack
{
    position:fixed;
    top:75%;
    left:19%;
    width:5px;
    height:150px;
    background-color: white;
}

.yack1
{
    position:fixed;
    top:55%;
    left:23%;
    width:5px;
    height:150px;
    background-color: white;
}

.yack2
{
    position:fixed;
    top:35%;
    left:19%;
    width:5px;
    height:150px;
    background-color: white;
}

.yack3
{
    position:fixed;
    top:15%;
    left:19%;
    width:5px;
    height:150px;
    background-color: white;
}


.farts
{
    position:fixed;
    top:13.5%;
    right:19%;
    width:100px;
    height:5px;
    background-color: white;
}

.farts1
{
    position:fixed;
    top:34%;
    right:19%;
    width:100px;
    height:5px;
    background-color: white;
}

.farts2
{
    position:fixed;
    top:53.5%;
    right:19%;
    width:100px;
    height:5px;
    background-color: white;
}

.farts3
{
    position:fixed;
    top:74%;
    right:19%;
    width:100px;
    height:5px;
    background-color: white;
}

.farts4
{
    position:fixed;
    top:95%;
    right:19%;
    width:100px;
    height:5px;
    background-color: white;
}


.yarts
{
    position:fixed;
    top:13.5%;
    left:19%;
    width:100px;
    height:5px;
    background-color: white;
}

.yarts1
{
    position:fixed;
    top:34%;
    left:19%;
    width:100px;
    height:5px;
    background-color: white;
}

.yarts2
{
    position:fixed;
    top:53.5%;
    left:19%;
    width:100px;
    height:5px;
    background-color: white;
}

.yarts3
{
    position:fixed;
    top:74%;
    left:19%;
    width:100px;
    height:5px;
    background-color: white;
}

.yarts4
{
    position:fixed;
    top:95%;
    left:19%;
    width:100px;
    height:5px;
    background-color: white;
}

.eokc
{
    position:fixed;
    width:70px;
    height:70px;
    top:22%;
    right:33%;
    /*background-color:white;*/
}

.erockets
{
    position:fixed;
    width:70px;
    height:70px;
    top:42%;
    right:33%;
    /*background-color:white;*/
}

.yokc
{
    position:fixed;
    height:70px;
    width:70px;
    top:15%;
    right:20%;
}

.yockets
{
    position:fixed;
    height:70px;
    width:70px;
    top:25%;
    right:20%;
}


.byne
{
    position:fixed;
    height:100px;
    width:5px;
    top:13.50%;
    left:25.5%;
    background-color:white;
}

.byne1
{
    position:fixed;
    height:100px;
    width:5px;
    top:21.5%;
    left:25.5%;
    background-color:white;

}

.byne2
{
    position:fixed;
    height:100px;
    width:5px;
    top:34%;
    left:25.5%;
    background-color:white;
}

.byne3
{
    position:fixed;
    height:100px;
    width:5px;
    top:41%;
    left:25.5%;
    background-color:white;

}

.byne4
{
    position:fixed;
    height:100px;
    width:5px;
    top:52%;
    left:25.5%;
    background-color:white;
}

.byne5
{
    position:fixed;
    height:100px;
    width:5px;
    top:61.5%;
    left:25.5%;
    background-color:white;

}

.byne6
{
    position:fixed;
    height:100px;
    width:5px;
    top:74%;
    left:25.5%;
    background-color:white;
}

.byne7
{
    position:fixed;
    height:100px;
    width:5px;
    top:82.5%;
    left:25.5%;
    background-color:white;

}


.lyne
{
    position:fixed;
    height:100px;
    width:5px;
    top:13.50%;
    right:25.5%;
    background-color:white;
}

.lyne1
{
    position:fixed;
    height:100px;
    width:5px;
    top:21.5%;
    right:25.5%;
    background-color:white;

}

.lyne2
{
    position:fixed;
    height:100px;
    width:5px;
    top:34%;
    right:25.5%;
    background-color:white;
}

.lyne3
{
    position:fixed;
    height:100px;
    width:5px;
    top:41%;
    right:25.5%;
    background-color:white;

}

.lyne4
{
    position:fixed;
    height:100px;
    width:5px;
    top:52%;
    right:25.5%;
    background-color:white;
}

.lyne5
{
    position:fixed;
    height:100px;
    width:5px;
    top:61.5%;
    right:25.5%;
    background-color:white;

}

.lyne6
{
    position:fixed;
    height:100px;
    width:5px;
    top:74%;
    right:25.5%;
    background-color:white;
}

.lyne7
{
    position:fixed;
    height:100px;
    width:5px;
    top:82.5%;
    right:25.5%;
    background-color:white;

}

.fyne
{
    position:fixed;
    height:100px;
    width:5px;
    top:13.50%;
    background-color:white;
    left:19%;
}

.fyne1
{
    position:fixed;
    height:100px;
    width:5px;
    top:21.5%;
    left:19%;
    background-color:white;
}

.fyne2
{
    position:fixed;
    height:100px;
    width:5px;
    top:34%;
    left:19%;
    background-color:white;
}

.fyne3
{
    position:fixed;
    height:100px;
    width:5px;
    top:41%;
    left:19%;
    background-color:white;
}

.fyne4
{
    position:fixed;
    height:100px;
    width:5px;
    top:52%;
    left:19%;
    background-color:white;
}

.fyne5
{
    position:fixed;
    height:100px;
    width:5px;
    top:61.5%;
    left:19%;
    background-color:white;
}

.fyne6
{
    position:fixed;
    height:100px;
    width:5px;
    top:74%;
    left:19%;
    background-color:white;
}

.fyne7
{
    position:fixed;
    height:100px;
    width:5px;
    top:82.5%;
    left:19%;
    background-color:white;
}



.qua
{
    position:fixed;
    width:100px;
    height:5px;
    top:25%;
    right:25.5%;
    background-color:white;
}

.qua1
{
    position:fixed;
    width:100px;
    height:5px;
    top:45%;
    right:25.5%;
    background-color:white;

}

.qua2
{
    position:fixed;
    width:100px;
    height:5px;
    top:65%;
    right:25.5%;
    background-color:white;
}

.qua3
{
    position:fixed;
    width:100px;
    height:5px;
    top:85%;
    right:25.5%;
    background-color:white;

}


.wua
{
    position:fixed;
    width:100px;
    height:5px;
    top:25%;
    left:25.5%;
    background-color:white;
}

.wua1
{
    position:fixed;
    width:100px;
    height:5px;
    top:45%;
    left:25.5%;
    background-color:white;

}

.wua2
{
    position:fixed;
    width:100px;
    height:5px;
    top:65%;
    left:25.5%;
    background-color:white;
}

.wua3
{
    position:fixed;
    width:100px;
    height:5px;
    top:85%;
    left:25.5%;
    background-color:white;

}


.semis
{
    position:fixed;
    width:5px;
    height:300px;
    top:18%;
    right:32%;
    background-color:blue;
}

.semis1
{
    position:fixed;
    width:5px;
    height:300px;
    top:18%;
    left:32%;
    background-color:blue;
}

.semis2
{
    position:fixed;
    width:5px;
    height:300px;
    top:60%;
    right:32%;
    background-color:blue;
}

.semis3
{
    position:fixed;
    width:5px;
    height:300px;
    top:60%;
    left:32%;
    background-color:blue;
}

.finals
{
    position:fixed;
    width:5px;
    height:200px;
    top:13.5%;
    right:40%;
    background-color:gold;
}

.finals1
{
    position:fixed;
    width:5px;
    height:200px;
    top:13.5%;
    left:40%;
    background-color:gold;
}

.finals2
{
    position:fixed;
    width:5px;
    height:200px;
    top:73%;
    right:40%;
    background-color:gold;
}

.finals3
{
    position:fixed;
    width:5px;
    height:200px;
    top:73%;
    left:40%;
    background-color:gold;
}

.teamBlurb {
    height: 460px;
    width: 540px;
    position: fixed;
    top: 25%;
    left: 32%;
    background-color: black;
    padding: 2px; /* Needed to show the gradient "border" */

    border: 4px solid transparent; /* actual border becomes invisible */
    border-radius: 8px;

    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
}
.teamBlurb.show {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

#okcBlurb
{
    background-image:
            linear-gradient(to right, orange, orangered, purple),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#houBlurb
{
    background-image:
            linear-gradient(to right, red, orangered, orange),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#lalBlurb
{
    background-image:
            linear-gradient(to right, yellow, purple, blue),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#gswBlurb
{
    background-image:
            linear-gradient(to right, yellow, blue, navy),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}


#cavsBlurb
{
    background-image:
            linear-gradient(to right, maroon, orangered, red),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}


#celtsBlurb
{
    background-image:
            linear-gradient(to right, green, black, red),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#nykBlurb
{
    background-image:
            linear-gradient(to right, darkorange, blue, teal),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#milBlurb
{
    background-image:
            linear-gradient(to right, green, white, yellow),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#winBlurb
{
    background-image:
            linear-gradient(to right, blue, red, blue),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#dalBlurb
{
    background-image:
            linear-gradient(to right, green, white,maroon),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#vegBlurb
{
    background-image:
            linear-gradient(to right, black, gold,green),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#oilBlurb
{
    background-image:
            linear-gradient(to right, blue, white,black),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#wasBlurb
{
    background-image:
            linear-gradient(to right, red,blue),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#carBlurb
{
    background-image:
            linear-gradient(to right, red,black),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#flaBlurb
{
    background-image:
            linear-gradient(to right, orange,black,red),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#torBlurb
{
    background-image:
            linear-gradient(to right,blue,white),
            linear-gradient(black, black); /* inner content */
    background-origin: border-box;
    background-clip: padding-box, border-box;
}